<!DOCTYPE html>
<html>
<head>
    <%- include('../template/head') %>
</head>
<body>
    <%- include('../template/navbar') %>
    <div class="container-wrapper">
        <div class="layout">
            <div class="layout__space"></div>
            <div class="posts">
                <article class="post">
                    <div class="post__header">
                        <div class="post__title"><%=users[0].hw17_contents[0].article_titile %></div>
                    </div>
                    <div class="post__info">
                        <div class="post__authorAvatar">
                            <img src="/trump.jpg"/>
                        </div>
                        <div class="post__authorName">
                            <%=users[0].hw17_contents[0].username %>
                        </div>
                        <div class="post__time">
                            <%=users[0].hw17_contents[0].createdAt %>
                        </div>
                    </div>
                    <% if(username) { %> 
                    <div class="post__actions">
                        <a class="post__action-btn" href="/edit-article/<%= users[0].hw17_contents[0].id %>">Edit</a>
                        <a class="post__action-btn" href="/delete-article/<%= users[0].hw17_contents[0].id %>">Delete</a>
                    </div>
                    <% } %> 
                    <div class="post__allContent"><%=users[0].hw17_contents[0].article_content %>
                    </div>
                </article>
            </div>
            <div class="layout__space"></div>
        </div>
    </div>
    <footer>Copyright © 2020 <%=users[0].username %>'s Blog All Rights Reserved.</footer>
</body>
</html>